* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(46, 45, 45);
    text-transform: uppercase;
    line-height: 5rem;
    font-size: 1.5rem;
}

ul {
    display: flex;
    justify-content: space-between;

}

li {
    display: inline-block;
    font-size: 2rem;
}

.section-center {
    max-width: 80vw;
    margin: auto;
    border: red solid 1px;

}

nav {
    border-bottom: gray 1px solid;
    width: 100%;
    height: 5rem;

}

.nav-center {
    width: 50vw;
    margin: auto;
}



#img1,
#img2 {
    width: 100%;
    height: auto;
    margin: auto;
}

#img3 {
    margin: auto;
}

footer {
    height: 5rem;
    border-top: gray 1px solid;
    width: 100%;
}

section {
    min-height: 100vh;
}

.img-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img-container-1 {
    width: 49%;
    display: inline-block;
}

.img-container-2 {
    width: 49%;
    display: inline-block;
}

/* CSS page styles */
.css-section-center {
    border: green 1px solid;
    margin: auto;
    width: 80vw;
    height: 100vh;

}

code {
    background: hsl(220, 80%, 90%);
    padding: .1rem .2rem;
    border-radius: .1rem;
    font-size: 1.5rem;

}

.block {
    padding: 1rem 2rem;
    display: block;
    white-space: pre-wrap;
    margin: .5rem;

}

span.comment {
    color: lightslategray;
}



p {
    /* font-size: 1.5rem; */
    font-size: 1.5rem;
}

article {
    border: red solid 1px;
    width: 100%;
    height: fit-content;
}