* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(46, 45, 45);
    text-transform: uppercase;
    line-height: 5rem;
    font-size: 1.5rem;
}

ul {
    display: flex;
    justify-content: space-between;

}

li {
    display: inline-block;
    font-size: 2rem;
}

.section-center {
    max-width: 80vw;
    margin: auto;
    border: red solid 1px;

}

nav {
    border-bottom: gray 1px solid;
    width: 100%;
    height: 5rem;

}

.nav-center {
    width: 50vw;
    margin: auto;
}



#img1,
#img2 {
    width: 100%;
    height: auto;
    margin: auto;
}

#img3 {
    margin: auto;
}

footer {
    height: 5rem;
    border-top: gray 1px solid;
    width: 100%;
}

section {
    min-height: 100vh;
}

.img-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img-container-1 {
    width: 49%;
    display: inline-block;
}

.img-container-2 {
    width: 49%;
    display: inline-block;
}

/* CSS page styles */
.css-section-center {
    border: green 1px solid;
    margin: auto;
    width: 80vw;
    height: 100vh;

}

code {
    background: hsl(220, 80%, 90%);
    padding: .1rem .2rem;
    border-radius: .1rem;
    font-size: 1.5rem;

}

.block {
    padding: 1rem 2rem;
    display: block;
    white-space: pre-wrap;
    margin: .5rem;

}

span.comment {
    color: lightslategray;
}



p {
    font-size: 1.5rem;
    margin: 1rem;
}

article {
    margin-bottom: 3px;
}

article.default {
    border: red solid 1px;
    font-size: 20rem;
}

article p.percent {
    font-size: 6%;
}

article.half-vw {
    width: 50vw;
    border: 1px solid blue;
}

article.inline-block {
    display: inline-block;
    border: 1px solid rgb(255, 0, 251);
}

article.inline {
    display: inline;
    border: 1px solid green;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

.relative-article {
    height: 25vh;
    background-color: lightskyblue;

}

.relative-div {
    position: relative;
    height: 2rem;
    width: 2rem;
    background-color: rgba(255, 0, 0, 0.6);
    top: 2rem;
    left: 5rem;
}

.absolute-article {
    height: 25vh;
    background-color: rgb(202, 240, 146);
}

.absolute-div {
    z-index: 1;
    position: absolute;
    height: 2rem;
    width: 2rem;
    background-color: rgba(255, 81, 0, 0.7);
    top: 250vh;
    left: 50vw;
}